.featured
    .row
        .col-sm-4
            .text-center
                .profile-card
                    a(href='/profiles/155')
                        img.img-thumbnail(src='/images/whale.jpg', width='200')
                        h4 W. Whale
                    h6
                        | Ahab Venture Partners
                        br
                        small Managing Partner

        .col-sm-4
            .text-center
                .profile-card
                    a(href='/profiles/155')
                        img.img-thumbnail(src='/images/whale.jpg', width='200')
                        h4 W. Whale
                    h6
                        | Ahab Venture Partners
                        br
                        small Managing Partner

        .col-sm-4
            .text-center
                .profile-card
                    a(href='/profiles/155')
                        img.img-thumbnail(src='/images/whale.jpg', width='200')
                        h4 W. Whale
                    h6
                        | Ahab Venture Partners
                        br
                        small Managing Partner
