extends app

block content
    .text-center
        //- h1 Hunt for VCs
        //- p Everything you'd want to know about a money manager, all in one place.

        h1 Unpitch Like a Boss
        p Don't look like an idiot. Collaborate with other attendees and read up beforehand.


    br
    br
    include featured
